{% extends "layout.html" %}
{% block buttons %}
<li role="presentation"><a href="/">Search</a></li>
<li role="presentation" class="active"><a href="/advanced">Advanced Search</a></li>
<li role="presentation"><a href="/transcripts">Transcripts</a></li>
<li role="presentation"><a href="/about">About</a></li>
{% endblock %}
{% block content %}
<div>
  <p>
    There is no advanced search at the moment. The data is just stored
    in an SQL database, so let me just tell you what the columns are:
  </p>
  <table class="table table-striped table-bordered"> 
	<tr>
	  <th>Field</th>
	  <th>Description</th>
	</tr>
	<tr>
	  <td>series</td>
	  <td>Possible values: "atl", "sg1", "tos", "tng", "ds9", "voy", "ent"</td>
	</tr>
	<tr>
	  <td>season_number</td>
	  <td>Season number</td>
	</tr>
	<tr>
	  <td>episode_number</td>
	  <td>Episode number</td>
	</tr>
	<tr>
	  <td>episode_title</td>
	  <td>Episode title</td>
	</tr>
	<tr>
	  <td>scene_number</td>
	  <td>
        A "scene", as the parser sees it, is a list of consecutive
	    lines that all happen in the same place. An episode is a list
	    of scenes.
      </td>
	</tr>
	<tr>
	  <td>line_number</td>
	  <td>This is the line number <i>in the scene</i>.</td>
	</tr> 
	<tr>
	  <td>person</td>
	  <td>
        Who said this line (or "ANNOTATION", meaning a stage
	    direction or something else)
      </td>
	</tr> 
	<tr>
	  <td>speech</td>
	  <td>The line of speech itself (or annotation)</td>
	</tr> 
	<tr>
	  <td>present</td>
	  <td>
        Space delimited list of who is present when the line is
	    spoken.
      </td>
	</tr>
	<tr>
	  <td>place</td>
	  <td>Where the scene takes place</td>
	</tr> 
  </table> 
</div>
{% endblock %}
