{% extends "layout.html" %}
{% block buttons %}
<li role="presentation"><a href="/">Search</a></li>
<li role="presentation"><a href="/transcripts">Transcripts</a></li>
<li role="presentation" class="active"><a href="/random">Random</a></li>
<li role="presentation"><a href="/about">About</a></li>
<li role="presentation"><a href="https://gitlab.com/kaashif/transcript-search">Source</a></li>
{% endblock %}
{% block content %}
<h2>{{ episode }}</h2>
<pre>
{{ parsed_transcript }}
</pre>
{% endblock %}
