{% extends "layout.html" %}
{% block buttons %}
<li role="presentation" class="active"><a href="/">Search</a></li>
<li role="presentation"><a href="/transcripts">Transcripts</a></li>
<li role="presentation"><a href="/about">About</a></li>
{% endblock %}
{% block content %}
<form action="{{ url_for('search') }}" method="POST">
  <div class="form-group">
	<label for="query">Enter a word or phrase you are looking for:</label>
	<input type="text" class="form-control" id="query" name="query">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
{% endblock %}
