<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Stargate Script Search</title>
	<link href="/style.css" rel="stylesheet">
  </head>
  <body>
	<a href="https://github.com/kaashif/stargate-search"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
	<div class="container">
	  <div class="header">
		<nav>
		  <ul class="nav nav-pills pull-right">
			{% block buttons %}
			<li role="presentation"><a href="/">Search</a>
			</li>
			<li role="presentation"><a href="/about">About</a>
			</li>
			{% endblock %}
		  </ul>
		</nav>
		<h3 class="text-muted">Stargate Script Search</h3>
	  </div>
	  <div class="content">
		{% block content %}
		{% endblock %}
	  </div>
	  <footer class="footer">
		<p>All excerpts and complete transcripts are taken
		from <a href="http://www.stargate-sg1-solutions.com/wiki/Transcripts">stargate-sg1-solutions.com</a></p>
        <p>Stargate SG-1 and Stargate Atlantis and its characters are
           the property of Stargate (II) Productions, Kawoosh
           Productions, The SCI FI Channel, Showtime/Viacom,
           Sony/MGM/UA, Double Secret Productions, and Gekko
           Productions.</p>

        <p>Episode transcripts and images are provided under the Fair
           Use doctrine of U.S. copyright laws.</p>

        <p>This site is for entertainment purposes only and is purely
           non-commercial. No copyright infringement is intended. All
           rights are recognized.</p>

        <p>Copyrights on all images and transcripts remain with the
           above named rights holders.</p>
	  </footer>
	</div>
  </body>
</html>
